@import '../../Plugins/bootstrap/scss/_functions';
@import '../../Plugins/bootstrap/scss/_variables';
@import '../../Plugins/bootstrap/scss/mixins/_breakpoints';

$background: #192133;
$primaryblueone: #ccf7f2;
$primarybluetwo: #99efe5;
$primarybluethree: #66e6d7;
$primarybluefour: #33deca;
$primarybluefive: #00d6bd;